<span class="ui basic label">
    {% if data == 'verified' %}
        <i class="checkmark icon"></i> Verified
    {% elseif data == 'unverified' %}
        <i class="remove icon"></i> Unverified
    {% endif %}
</span>
